* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  font-size: 22px;
}

.display {
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 12px;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.color-form {
  label {
    position: absolute;
    left: -9999999px;
  }

  input {
    width: 250px;
    font: inherit;
    min-height: 48px;
    padding: 0 0.5em;
    border: 2px solid black;
    border-radius: 10px;
  }
}
