* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

main {
  margin-top: 20px;
}

nav {
  width: 100%;
  display: flex;
}

a {
  flex-grow: 1;
  border: 1px solid black;
  display: grid;
  place-content: center;
  min-height: 48px;
}

a:hover {
  color: #fff;
  background-color: #000;
}

li {
  list-style: disc;
  margin: 10px 0 0 40px;
}
