* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  min-height: 100vh;
}

main {
  margin-top: 60px;
  width: 100%;
}

form {
  width: 100vw;
  display: flex;
  position: fixed;
  top: 0;
}

button {
  width: 33.333%;
  border: 1px solid black;
  display: grid;
  place-content: center;
  min-height: 48px;
}

button:hover {
  color: #fff;
  background-color: rgb(69, 68, 68);
}

li {
  list-style: disc;
  margin: 10px 0 0 40px;
}

td {
  border: 1px solid black;
  padding: 0.25em;
}

table {
  overflow-y: auto;
}
